.interest {
    display: block;
    border: 1px solid green;
    margin:1rem auto;
    padding: 2rem;
    border-radius: 50%;
    text-align: center;
    color: white;
    width: 200px;
    height: 200px;
}

@media (min-width: 40rem) {
    .interest {
        border: 1px solid green;
        margin: 1rem 0;
        border-radius: 5px;
        text-align: center;
        color: white;
        box-shadow: 2px 2px 2px blue;

    }
    .interest:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}