.mainContent {
    margin-top: 4rem;
}
.profileContainer {
    height: 100%;
    background-color: bisque;
}
.profileImg {
    display: block;
    width: 100%;
    height: 100%;
    size: cover;
    background-color: aqua;
    margin: auto;
}
.stack {
    text-align: center;
}
@media (min-width:40rem) {
    .mainContent {
        margin-top: 4rem;
    }
    .profileContainer {
        height: 100%;
        background-color: bisque;
    }
    .profileImg {
        display: block;
        width: 500px; 
        height: 500px;
        size: cover;
        background-color: aqua;
        margin: auto;
        animation: profileAnimate 15s 3s infinite;
    }
    .profileImg:hover {
        cursor: pointer;
        animation: profileHover 4s 1s 2 ease-in;
    }
    .stack {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .interest {
        display: flex;
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
        animation: interestAnimate 30s ease-out 0.1s infinite;
    }
    .interest:hover {
        cursor: pointer;
        transform: scale(2);
    }
}
@keyframes profileAnimate {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}
@keyframes profileHover {
    0% {
        transform: skewY(10deg);
    }
    50% {
        transform: skewY(-10deg);
    }
    75% {
        transform: skewY(15deg);
    }
    100% {
        transform: skewY(0);
    }
}
@keyframes interestAnimate {
    0% {
        left: 1rem;
        transform: scale(0.7) skewX(-30deg) skewY(-3deg);
    }
    50% {
        right: 2rem;
        transform: scale(1);
    }
    75% {
        left: 1rem;
        transform: scale(0.5);
    }
    100% {
        left: 0;
        transform: scale(1) skewX(30deg) skewY(3deg);

    }
}