.mainContent {
    margin-top: 4rem;
}
.profileContainer {
    height: 100%;
    background-color: bisque;
}
.profileImg {
    display: block;
    width: 100%;
    height: 100%;
    size: cover;
    background-color: aqua;
    margin: auto;
}
.stack {
    text-align: center;
}
@media (min-width:40rem) {
    .mainContent {
        margin-top: 4rem;
    }
    .profileContainer {
        height: 100%;
        background-color: bisque;
    }
    .profileImg {
        display: block;
        width: 500px; 
        height: 500px;
        size: cover;
        background-color: aqua;
        margin: auto;
        animation: profileAnimate 15s 3s infinite;
    }
    .profileImg:hover {
        cursor: pointer;
        animation: profileHover 4s 1s 2 ease-in;
    }
    .stack {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .interest {
        display: flex;
        text-align: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@keyframes profileAnimate {
    0% {
        margin: auto;
        transform: skewY(10deg);
    }
    50% {
        margin-right: 0;
    }
    75% {
        margin: auto;
    }
    100% {
        margin: 0;
        transform: skewY(0);
    }
}
@keyframes profileHover {
    0% {
        transform: skewY(10deg);
    }
    50% {
        transform: skewY(-10deg);
    }
    75% {
        transform: skewY(15deg);
    }
    100% {
        transform: skewY(0);
    }
}