.stackContent {
    display: block;
    border: 1px solid blueviolet;
    box-shadow: 2px 2px 2px #ad6909;
    border-radius: 5px;
    height: 10rem;
    margin: 1rem 0;
}
.image {
    height: 50%;
    width: 50%;
}